{#

LIKELY NOT NEEDED :)
Authentication will occur on SPLASH page?

#}

{% extends 'base.jinja2' %}

{% set navbar_shadow = True %}
{% block title %}Login{% endblock %}

{% block content %}
{% endblock %}
