{% extends 'flask_user/_public_base.html' %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

{% block title %}Register{% endblock %}
{% block form_title %}Register{% endblock %}

{% block form %}

    <form action="" method="POST" novalidate class="form" role="form">
        {{ form.hidden_tag() }}

        {# Username or Email #}
        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ form.hidden_tag() }}

            <h5>MSU Info</h5>
            {{ render_field(form.net_id, tabindex=10) }}
            {{ render_field(form.msu_id, tabindex=20) }}
            {{ render_field(form.department, tabindex=30) }}

            <hr/>

            <h5>Personal Info</h5>
            {{ render_field(form.first_name, tabindex=40) }}
            {{ render_field(form.middle_name, tabindex=50) }}
            {{ render_field(form.last_name, tabindex=60) }}
            {{ render_field(form.birth_date, tabindex=70) }}
            {{ render_field(form.pref_name, tabindex=80) }}
            {{ render_field(form.maiden_name, tabindex=90) }}

            <hr/>

            <h5>Contact Info</h5>
            {{ render_field(form.sec_email, tabindex=100) }}
            {{ render_field(form.prim_phone, tabindex=110) }}
            {{ render_field(form.sec_phone, tabindex=120) }}

            <hr/>

            {{ render_field(form.thoroughfare, tabindex=130) }}
            {{ render_field(form.premise, tabindex=140) }}
            {{ render_field(form.locality, tabindex=150) }}
            {{ render_field(form.administrative_area, tabindex=160) }}
            {{ render_field(form.postal_code, tabindex=170) }}
            {{ render_field(form.country, tabindex=180) }}

            <hr/>

            <h5>Login Info</h5>
            {{ render_field(form.email, tabindex=190) }}
            {{ render_field(form.password, tabindex=200) }}
            {{ render_field(form.retype_password, tabindex=210) }}


            {# Submit button #}
            {{ render_submit_field(form.submit, tabindex=220) }}
        </div>
    </form>

{% endblock %}
