{% extends 'base.jinja2' %}

{% block title %}Submission Catalog{% endblock %}



{% block content_before %}

  {# title jumbotron #}
  <div class='jumbotron shadow-sm py-3'>
    <div class='container'>
      <h1>Submission Catalog</h1>
    </div>
  </div>

{% endblock %}



{% block content %}
  <form>
    <div class="input-group py-3">
      <input type="text" class="form-control" placeholder="Search for submission...">
      <span class="input-group-btn">
                <button class="btn btn-secondary ml-1" type="submit">
                    <i class="fas fa-search mr-2"></i>Search
                </button>
            </span>
    </div>
  </form>
  <hr/>

  <table class="table table-white table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Semester</th>
      <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>

    {% if tads %}
      {% for tad in tads %}
        <tr>
          <td>{{ tad.last_name }}, {{ tad.first_name }}</td>
          <td>{{ tad.title }}</td>
          <td>{{ tad.started }}</td>
          <td><a href="{{ url_for('tad.view', tad_id=tad.id) }}" class="btn btn-primary" role="button"
                 aria-disabled="true">Link</a></td>
        </tr>
      {% endfor %}
    {% endif %}

    </tbody>
  </table>

{% endblock %}
