{% extends 'base.jinja2' %}

{% block title %}Dashboard{% endblock %}

{% block content_before %}

    <div class="jumbotron">
        <div class="container">
            <h2>Dashboard</h2>
        </div>
    </div>

{% endblock %}
