{% extends 'base.jinja2' %}

{% block title %}Home{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-4">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h4">Mississippi State University Libraries</span>
        <span class="h3 mb-0"><br/>Electronic Thesis and Dissertation System</span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <div class="card shadow">
    <div class="card-body text-center">
      <h3 class="my-1">Welcome {{ current_user.first_name }}!</h3>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header">
      <h3 class="my-1">Notifications</h3>
    </div>
    <div class="card-body">
      {% if notifications %}
        {% for notif in notifications %}
          <div class="alert alert-{{ notif.type }} alert-dismissible fade show" role="alert">
            <strong>{{ notif.title }}</strong><br/>{{ notif.data }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% else %}
        <p>You have no notifications.</p>
      {% endif %}
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <div class="row text-center">
        <div class="col">
          {{ lipsum() }}
        </div>
      </div>
      <div class="row mx-2">
        <div class="col">
          {{ lipsum() }}
        </div>
        <div class="col">
          {{ lipsum() }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
