{% extends 'base.jinja2' %}

{% set navbar_shadow = True %}
{% block title %}User Profile{% endblock %}

{% block content %}

  {# Profile Card #}
  <div class='card mx-auto mt-5 col-lg-6 col-12 shadow-sm'>
    <div class='card-body'>

      {# user name / classification #}
      <div class='row justify-content-center'>
        <span class='h3'>
          {{ current_user.first_name }}
          {% if current_user.pref_name %}
            "{{ current_user.pref_name }}"
          {% endif %}
          {{ current_user.middle_name }} {{ current_user.last_name }}
        </span>
      </div>
      <div class='row justify-content-center'>
        <span class='h5'> Major: {{ current_user.department }}</span>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          <h5>MSU Info</h5>
          <b>E-Mail:</b><br/>
          {{ current_user.email }}
          <br/><br/>

          <b>Net ID:</b><br/>
          {{ current_user.net_id }}
          <br/><br/>

          <b>MSU ID:</b><br/>
          {{ current_user.msu_id }}
          <br/><br/>
        </div>

        <div class="col">
          <h5>Personal Info</h5>

          {% if current_user.maiden_name %}
            <b>Maiden Name:</b><br/>
            {{ current_user.maiden_name }}
            <br/><br/>
          {% endif %}

          <b>Birth Date:</b><br/>
          {{ current_user.birth_date }}
          <br/><br/>

          {% if current_user.sec_email %}
            <b>Personal E-Mail:</b><br/>
            {{ current_user.sec_email }}
            <br/><br/>
          {% endif %}

          <b>Primary Phone:</b><br/>
          {{ current_user.prim_phone }}
          <br/><br/>

          {% if current_user.sec_phone %}
            <b>Secondary Phone:</b><br/>
            {{ current_user.sec_phone }}
            <br/><br/>
          {% endif %}
        </div>
      </div>

      <hr>

      <h5>Address</h5>
      {{ current_user.thoroughfare }}<br>
      {% if current_user.premise %}
        {{ current_user.premise }}<br>
      {% endif %}
      {{ current_user.locality }}, {{ current_user.administrative_area }} {{ current_user.postal_code }}<br>
      {{ current_user.country }}
      <br/><br/>
      <hr/>

      {# edit profile button #}
      <div class='col text-center'>
        <a href='{{ url_for('user.edit_user_profile') }}' class='btn btn-primary px-5'>Edit profile</a>
      </div>
    </div>
  </div>

{% endblock %}
