
$theme-colors: (
        "primary": #660000,
        "secondary": #777777
);

@import "../bootswatch-master/flatly/variables";
@import "../bootstrap-4.2.1/scss/bootstrap";
@import "../bootswatch-master/flatly/bootswatch";


// NAVBAR
// make the active nav link bold
.nav-link.active {
  font-weight: bold;
}

// nav-link colors <3
.bg-primary {
  .nav-link:hover {
    color: white !important;
    background-color: rgba($gray-200, .2);
  }
  .nav-link:focus {
    color: white !important;
    background-color: rgba($gray-200, .2);
  }
}

// Responsive font
@include media-breakpoint-down(sm) {
  html{font-size: 14px;}
}
