
$theme-colors: (
        "primary": #660000,
        "secondary": #777777
);

@import "../bootswatch-master/sandstone/variables";
@import "../bootstrap-4.2.1/scss/bootstrap";
@import "../bootswatch-master/sandstone/bootswatch";

// colors <3
.bg-primary {
  background-color: map_get($theme-colors, "primary") !important;
}

// responsive font
@include media-breakpoint-down(sm) {
  html{font-size: 14px;}
}

// theming
.sandstone {
  font-size: 12px;
}

// nav link padding
.nav-link {
  @extend .p-sm-3;
  @extend .px-3;
}
