{% extends 'base.jinja2' %}

{% block title %}Submissions{% endblock %}


{% block content_before %}

  {# title jumbotron #}
  <div class='jumbotron shadow-sm py-3'>
    <div class='container'>
      <h1>Submissions</h1>
    </div>
  </div>

{% endblock %}



{% block content %}
  {% if current_user.has_roles('users') %}
    <a href="{{ url_for('submissions.create') }}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">
      Create Submission
    </a>
    {% endif %}
  <hr/>
  {# TODO datatables for all the saerch and pagination functionality #}
  {% if submissions %}
  <table class="table table-white table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Created</th>
      <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
      {% for submission in submissions %}
        <tr>
          <td>{{ submission.last_name }}, {{ submission.first_name }}</td>
          <td>{{ submission.title }}</td>
          <td>{{ submission.started.humanize() }}</td>
          <td><a href="{{ url_for('submissions.view', submission_id=submission.id) }}"
                 class="btn btn-primary"
                 role="button"
                 aria-disabled="true">
                View Submission
              </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    No submissions to show
  {% endif %}

{% endblock %}
