{% extends 'base.jinja2' %}

{% block title %}Create Submission{% endblock %}

{% block content_before %}

    <div class="jumbotron shadow-sm">
        <div class="container">
            All the info for a single ETD<br>
            May be 2 or more "sudo" pages in one.<br>
            one for the ETD, then another for the rights and permissions form<br>
            May also be a page for listing committee members.<br>
            Or it can be split up across multiple actual pages.<br><br>
            When making a submission, it is technically the first revision of the paper.<br>
            So every paper will always have one revision<br>

        </div>
    </div>

{% endblock %}
