{% extends 'base.jinja2' %}

{% block title %}Create Revision{% endblock %}

{% block content_before %}

    <div class="jumbotron shadow-sm">
        <div class="container">
            Form for inputting the necessary info for a new revision.
        </div>
    </div>

{% endblock %}
