{% extends 'base.jinja2' %}

{% block title %}Review Revision{% endblock %}

{% block content_before %}

    <div class="jumbotron shadow-sm">
        <div class="container">
            Submission {{ sub_id }}<br>
            Revision {{ rev_id }}<br><br>
            Download link for the Paper<br>
            Info about the paper, including the forms that go along with it<br><br>
            Reviewer checklist.<br>

        </div>
    </div>

{% endblock %}
