{% extends 'base.jinja2' %}

{% block title %}View Revision{% endblock %}



{% block css %}
  {{ super() }}
  <style>
    .table > tbody > tr > td, .table > tbody > tr > th {
      vertical-align: middle;
    }
  </style>
{% endblock %}


{% block content_before %}
  <div class='jumbotron shadow-sm py-4'>
    <div class='container'>
      <h1 class='font-weight-bolder'>{{ submission.title }}</h1>
      <span class='lead'>
        By {{ user.first_name }} {{ user.last_name }}
        <br>
        {% if submission.state %}
          Submission has been Approved
        {% else %}
          Submission is in the review process
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class='card shadow-sm mb-4'>
    <div class='card-body'>
      <h3 class='card-title'>Abstract</h3>
      <hr/>
      <p>
        {{ submission.abstract }}
      </p>
    </div>
  </div>

  <div class='card shadow-sm mb-4'>
    <div class='card-body'>
      <h3 class='card-title'>Details</h3>
      <hr/>
      <p>
        <span class="font-weight-bold">Paper Type:</span>
        {% if submission.type == 0 %}
          Master's Thesis'
        {% elif submission.type == 1 %}
          Educational Specialist's Thesis
        {% elif submission.type == 2 %}
          Doctoral Disseration
        {% endif %}
        <br>
        <br>

        <span class="font-weight-bold">Release type:</span>
        {% if submission.release_type == 0 %}
          Worldwide
        {% elif submission.release_type == 1 %}
          Restricted
        {% elif submission.release_type == 2 %}
          Embargo
        {% endif %}
        <br>
        <br>

        {% if submission.release_type == 1 %}
          <span class="font-weight-bold">Restricted Time Length:</span>
          {% if submission.ww_length == 1 %}
            1 year
          {% elif submission.ww_length == 2 %}
            2 years
          {% elif submission.ww_length == 3 %}
            3 years
          {% endif %}
          <br>
          <br>
        {% endif %}
        <span class="font-weight-bold">Major Professor's NetID:</span> {{ submission.professor }}
        <br>
        <br>

        <a class="btn btn-primary" href="{{ url_for('main.uploads_signatures', filename=submission.signature_file) }}">
          View Signature file
        </a>
      </p>
    </div>
  </div>

  <div class='card shadow-sm mb-4'>
    <div class='card-body'>
      <h3 class='card-title'>Revisions</h3>
      <hr/>
      {% if revisions %}
        <table class='table table-borderless table-striped'>
          <tbody>

            {% for revision in revisions %}
              <tr>
                {# this feels illegal, but it works
                    gets the index of the revision in the list and then add one
                     since array start at zero #}
                <td>Revision {{ revisions.index(revision)+1 }}</td>
                <td>Submitted {{ revision.submitted.humanize() }}</td>
                <td>
                  {% if revisions[-1].id == revision.id %}
                    {% if not submission.state %}
                      {% if review_last %}
                        Reviewed
                      {% else %}
                        Not Reviewed
                      {% endif %}
                    {% else %}
                      Approved
                    {% endif %}
                  {% else %}
                      Reviewed
                  {% endif %}
                </td>
                <td>
                  <a href="{{ url_for('revisions.view',revision_id=revision.id) }}"
                       class="btn btn-primary"
                       role="button"
                       aria-disabled="true">
                    View Revision
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        No revisions exist.<br><br>
      {% endif %}

      {% if not submission.state and current_user.id == user.id %}
        {% if review_last or not revisions %}
          <a id='tad-revise' href="{{ url_for('revisions.create', submission_id=submission.id) }}" class='btn btn-primary px-4'>
            Create revision
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
